
body {
  font-family: 'Lato', sans-serif;
  color:white;
  text-align: center;
}
.form-group{
    width: 400px;
    display: inline-block;
    text-align: center;
}
hr{
    /*width: 30%;*/
    margin-top: 0;
    padding: 0;
    }
h2{
    font-weight: bold;
    font-size: 55px;
      font-family: 'Great Vibes', cursive;

    margin: 0;
    padding: 0;
}
* { margin:0; padding:0; }
body { background : #222; }
canvas { 
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
  margin   : auto;
}